<div class="container-trans">
  <%= render '/shared/header_transp' %>
      <main id="top-blog">
        <ul>
          <div class="page-content">
            <div class= "<% update_class(item) %>" style="list-style-type: none;">
              <% @blogs.each do |blog| %>
                  <li>
                    <h5 class="card-title"><%= blog.title %></h5>
                    <p class="card-text"><%= (blog.content).first(25) %> ..... </p>
                  </li>
            <% end %>
            <% end %>
          </div>
        </div>
      </ul>
    </main>
  <%= render '/shared/footer' %>
</div>
