  <div class="container">
      <%= render '/shared/header' %>
          <main id="top-blog">
            <ul>
             <% @blogs.each do |blog| %>
                <li style="list-style-type: none"> <%= link_to blog.title, blog_path(blog.id) %>
                  <p> <%= (blog.content).first(25) %> ..... </p>
                </li>
                <br>
            <% end %>
          </ul>
        </main>
      <%= render '/shared/footer' %>
    </div>
