<div class="container">
    <%= render '/shared/header' %>
        <main id="top-blog">
          <ul>
            <div class="card">
              <div class="card-body">
                <% @blogs.each do |blog| %>
                  <li>
                    <%= image_tag "Byrd.png", class: "card-new", alt: "Byrd" %>
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"> <%= (blog.content).first(25) %> ..... </p>
                  </li>
                <br>
            <% end %>
          </div>
        </div>
      </ul>
    </main>
  <%= render '/shared/footer' %>
</div>
