<div class="side-nav">
  <div class="container d-flex justify-content-center">
        <h1>My (digital) thoughts</h1>
          <div class="row">
            <ul>
             <% @blogs.each do |blog| %>
                <li>
                  <%= link_to blogs_path(blog.id) do%>
                  <h2> <%= blog.title %> </h2>
                  <p> <%= blog.content %></p>
                </li>
                <br>
              <% end %>
            <% end %>
          </ul>
        </div>
    </div>
  </div>
</div>
