<h1>So very fresh - new blog entry</h1>
  <div class="contatiner text-center mt-4">
    <h4>Blog greatness pending...</h4>
    <div class="container mt-2 p-5">
      <%=render 'form', blog: @blog %>
    </div>
  </div>
