// Specific CSS for your home-page

.container{
 max-width: 100%;
 height: 120vh;
 background-size: cover;
 background-repeat: none;

}

.container-trans{
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('evan23.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px minmax(400px, 1fr) 100px 100px;
  grid-gap: 10px;
  padding: 30px;
  grid-template-areas:
      "header header header header"
      "main main main ."
      "footer footer footer footer";
}

.page-content{
  height: 100vh;
  width: 180vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 200px 200px 200px 200px;
  grid-gap: 10px;
  grid-template-areas:
      "header header header header header header header header header"
      "main main main main main main main main main"
      "main main main main main main main main main"
      "footer footer footer footer footer footer footer footer footer";
}


header {
 grid-area: header;
 h3 {
  color: white;
  font-weight: bolder;
 }
}

main {
 grid-area: main;
}

footer {
  grid-area: footer;
}

.font-title{
  font-size: 36px;
  text-decoration: none !important;
}


.wordCarousel {
    font-size: 28px;
    font-weight: 100;
    color: #939393;
    display: flex;
    justify-content: flex-end;
    div {
        overflow: hidden;
        position: relative;
        float: right;
        height: 65px;
        padding-top: 10px;
        margin-top: -10px;

        li {
            color: #939393;
            font-weight: 700;
            font-size: x-large;
            padding: 0;
            height: 45px;
            margin-bottom: 45px;

        }
    }
}

.flip4 {
  list-style-type: none;
  padding-left: 7px;
  padding-top: 3px;
}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 14s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

// Layout //////////////////////////////////////////

// // @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Oswald);
// body,
// html {
//     width: 100%;
//     height: 100%;
//     margin: 0;
//     padding: 0;
//     overflow: hidden;
// }

// body {
//     font-family: "Roboto Condensed", cursive;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: #333;
// }
