//homepage and blog index background
// also includes image placement for blog index cards

.container-hompepage{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px minmax(400px, 1fr) 100px 100px;
  grid-gap: 10px;
  padding: 70px 15px 30px 55px;
  grid-template-areas:
      "header header header header"
      "main main main main"
      "main main main main"
      "footer footer footer footer";
}

.burger{
  right: 9%;
}

img.bg-img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1364px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1364px) {
  img.bg-img {
    left: 50%;
    margin-left: -682px;
  }
}


@media screen and (max-width: 1400px){
 .profile-card p{
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  padding: 22px;
  margin-top: -54px;
  width: 73%;
  margin-left: 30%;
  }
  .profile-card h5{
   font-size: 2.4vw;
   padding: 0px;
   font-weight: 300px;
   width: 117%;
   margin-top: -20px;
   margin-left: -10%;
   font-weight: normal;
    }
  .btn-about{
    padding: 11px;
    text-align: right;
    width: 150px;
    top: 91.4%;
    left: 62%;
  }
  img.bg-img{
    min-width: 1400px;
    position: absolute;
    left: 44%;
    top: 5%;
    bottom: -110;
    margin-left: -619px;
    }
    body {
      overflow-y: hidden;
      background-image: linear-gradient(270deg, black,#0C162C);
    }
    footer{
      justify-self: left;
      align-self: normal;
      margin-left: -40px;
      width: 50%;
    }
    .wordCarousel div li {
      margin-bottom: 43px;
    }
  }

@media screen and (max-width: 800px){
  .profile-card p{
     font-size: 2.1vw;
     line-height: 22px;
     text-align: right;
     padding: 2px;
     margin-top: -100px ;
     width: 80% ;
     margin-left: 29% ;
  }
  .profile-card h5{
    font-size: 3vw;
    padding: 0px;
    font-weight: 300px;
    width: 117%;
    margin-top: -20px;
    margin-left: -8%;
    font-weight: normal;
    }
  .btn-about{
    padding: 11px;
    text-align: right;
    width: 150px;
    top: 78.4%;
    left: 54%;
  }
  img.bg-img{
    min-width: 800px;
    position: absolute;
    left: 44%;
    top: 14% ;
    bottom: -110;
    margin-left: -361px;
    }
    body {
      overflow-y:hidden;
      background-image: linear-gradient(270deg, black,#0C162C);
    }
    footer{
      justify-self: left ;
      align-self: normal ;
      margin-left: -40px ;
      width: 50% ;
    }
    .wordCarousel div li {
      margin-bottom: 43px !important ;
    }
  }

@media screen and (max-width: 576px){
  .profile-card p {
    font-size: 2.3vw;
    line-height: 25px;
    text-align: center;
    padding: 2px;
    margin-top: -100px ;
    width: 91% ;
    margin-left: 6% ;
  }
  .profile-card h5{
  font-size: 4vw;
  padding: 0px;
  font-weight: 300px;
  width: 127% ;
  margin-top: -20px ;
  margin-left: -13% ;
  font-weight: normal;
    }
  .btn-about{
    padding: 9px;
    text-align: right;
    width: 136px;
    top: 90.4%;
    left: 73%;
  }
  img.bg-img{
    min-width: 950px;
    position: absolute;
    left: 44%;
    top: 14% ;
    bottom: -110;
    margin-left: -319px ;
    }
    body {
      overflow-y:hidden;
      background-image: linear-gradient(270deg, black,#0C162C);
    }
    footer{
      justify-self: left ;
      align-self: normal ;
      margin-left: -40px ;
      width: 50% ;
    }
    .wordCarousel div li {
      margin-bottom: !important;
      font-size: large ;
    }
  }


// blog index page
.container-index{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px minmax(400px, 1fr) 100px 100px;
  grid-gap: 10px;
  padding: 70px 15px 30px 55px;
  grid-template-areas:
      "header header header header"
      "main main main main"
      "main main main main"
      "footer footer footer footer";
}

img.bg-img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1364px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1364px) {
  img.bg-img {
    left: 50%;
    margin-left: -682px;
  }
}

.img-blog-one {
  position: absolute;
  left: 100%;
  height: 130px;
  width: 116px;
  top: -1%;
  background-position: cover;
}
.img-blog-two {
  position: absolute;
  left: 100%;
  height: 150px;
  width: 116px;
  top: -1%;
  background-position: cover;
 }


@media screen and (max-width: 1400px){

  img.bg-img{
    min-width: 1400px;
    position: fixed;
    left: 44%;
    // top: 17%;
    bottom: -110;
    margin-left: -619px;
    }
    body {
    overflow-y: auto;
    overflow-x: hidden;
    background-image: linear-gradient(270deg, black,#0C162C);
    }
    footer{
      justify-self: left;
      align-self: normal;
      margin-left: -40px;
      width: 50%;
    }

    .card-blog{
      font-size: 14px;
      width: 70%;
      margin-left: 10%;
    }
    .img-blog-one{
    position: absolute;
    left: 93%;
    height: 102px;
    width: 97px;
    top: 16%;
    }
    .img-blog-two{
    position: absolute;
    left: 90%;
    height: 138px;
    width: 102px;
    top: 0%;
    }
    .vertical-tabs{
      width: 69%;
    }
  }

@media screen and (max-width: 800px){
  img.bg-img{
    min-width: 800px;
    position: fixed;
    left: 44%;
    bottom: -110;
    margin-left: -361px;
    }
    body {
      overflow-y: auto;
      overflow-x: hidden;
      background-image: linear-gradient(270deg, black,#0C162C);
    }
    footer{
      justify-self: left;
      align-self: normal;
      margin-left: -40px;
      width: 50%;
    }
    .vertical-tabs{
      width: 92%;
    }
    .card-blog{
      font-size: 13px;
      width: 70%;
      margin-left: 10%;
    }
    .img-blog-one{
    position: absolute;
    left: 93%;
    height: 99px;
    width: 97px;
    top: 16%;
    }
    .img-blog-two{
    position: absolute;
    left: 90%;
    height: 131px;
    width: 114px;
    top: .9%;
    }
  }

@media screen and (max-width: 576px){
  img.bg-img{
      min-width: 800px;
      position: fixed;
      left: 44%;
      bottom: -110;
      margin-left: -361px;
      }
      body {
        overflow-y: auto;
        overflow-x: hidden;
        background-image: linear-gradient(270deg, black,#0C162C);
      }
      footer{
        justify-self: left;
        align-self: normal;
        margin-left: -40px;
        width: 50%;
      }
      .vertical-tabs{
        width: 102%;
      }
      .card-blog{
        font-size: 13px;
        width: 76%;
        margin-left: 2%;
      }
      .img-blog-one{
        position: absolute;
        left: 93%;
        height: 99px;
        width: 97px;
        top: 15%;
      }
      .img-blog-two{
        position: absolute;
        left: 90%;
        height: 131px;
        width: 114px;
        top: -0.1%;
      }
  }

// blog show page

.container-blog{
  height: 100%;
  background: linear-gradient(to bottom, #333 50%, #1B7FF6 75%, #1B7FF6 75%);;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px minmax(400px, 1fr) 100px 100px;
  grid-gap: 10px;
  padding: 35px;
  grid-template-areas:
      "header header header header"
      "article article article main"
      "article article article main"
      "footer footer footer footer";
}


// about me page

.container-about{
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #333 50%, #1B7FF6 75%, #1B7FF6 75%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px minmax(400px, 1fr) 100px 100px;
  grid-gap: 10px;
  padding: 50px;
  grid-template-areas:
      "header header header header"
      "article article main main"
      "article article main main"
      "footer footer footer footer";
      article {
        padding-left: 5px;
        font-size: 18px;
      }
}

  #mail-about{
    color: orange;
    font-weight: bolder;
    font-family: 'Nunito' !important ;
  }

  #mail-about:hover{
    text-decoration: none;
    color: rgba(245,165,64,.4);
  }

  #evan-image{
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: rgba(255,255,255,.7);
    transform: translate(232px, 680px);
  }

  .about-contact{
    text-align: center;
    position: absolute;
    top: 58%;
    left: 71%;
    transform: translate(-50%, -50%);
}

  .about-contact span{
    display: block;
  }

  .text1{
    font-size: 22px;
    font-family: 'Nunito';
    letter-spacing: 4px;
    margin-bottom: 30px;
    position: relative;
    color: orange;
    animation: text 2s 1;
  }

  .text2{
    font-size: 18px;
    color: orange;
    font-weight: bold;
    font-family: 'Nunito';
    letter-spacing: 4px;
  }

  @keyframes text{
    0%{
      color: transparent;
      margin-bottom: -40px;
    }
    35%{
      letter-spacing: 4px;
      margin-left: -80px;
    }
    85%{
    letter-spacing: 4px;
    margin-bottom: -40px;
  }
}

@media screen and (max-width: 1200px) {
  #evan-image{
    transform: translate(50px, 544px);
  }
  .about-contact{
    position: absolute;
    top: 32%;
    left: 81%;
    text-align: center;
    width: 50%;
  }
  .container-about{
    grid-template-areas:
        "header header header header"
        "article article article main"
        "article article article main"
        "footer footer footer footer";
        article {
          padding-left: 5px;
          font-size: 14px;
        }
    }
    .text1{
      font-size: small;
      text-align: end;
      right: 14%;

    }
}

@media screen and (max-width: 768px) {
  #evan-image{
    transform: translate(23px, 816px);
  }
  .about-contact{
    position: absolute;
    top: 32%;
    left: 81%;
    text-align: center;
    width: 50%;
  }
  .container-about{
    grid-template-areas:
        "header header header header"
        "article article article main"
        "article article article main"
        "footer footer footer footer";
        article {
          padding-left: 5px;
          font-size: 14px;
        }
    }
    .text1{
      font-size: small;
      text-align: end;
      right: 14%;
    }
}

@media screen and (max-width: 576px) {
  #evan-image{
    display: none;
  }
  .container-about{
    grid-template-areas:
        "header header header header"
        "article article article article"
        "article article article article"
        "footer footer footer footer";
        article {
          padding-left: 2px;
          font-size: 12px;
          text-align: center;
        }
    }
   .about-contact{
    transform: translate(-127px, 1100px);
  }
  footer{
    height: 0vh !important;
    padding: 0;
    margin-left: 20% !important;
    width: 60% !important;
  }
  .text1{
    font-size: small;
    text-align: center;
    right: 65%;
  }
}

// project index page - uses same container-index as blogs but has different components and responsive needs

#project-upc{
  line-height: 18px;
  color: rgba(255,255,255,.7);
  grid-row-start: 4;
  grid-column-start: 2;
  z-index: 1;
  margin: 45px 10% 60% 20%;
  h5{
    color: orange;
  }
}

@media screen and (max-width: 1200px){
  .carousel-inner{
    transform: translate(91px, 22px);
  }
  img.bg-img{
    min-width: 1200px;
    position: fixed;
    left: 44%;
    bottom: -110;
    margin-left: -525px;
    }
  .card-header{
    font-size: 1rem;
  }
  body > div > main.card > div.card-footer > div {
        font-size: 0.8em;
  }
}

@media screen and (max-width: 992px){
  .carousel-inner{
    display: none;
  }
  img.bg-img{
    min-width: 992px;
    position: fixed;
    left: 44%;
    margin-left: -421px;
    }

  .card-body {
    font-size: 2.2vw;
    p{
      margin-top: 10%;
    }
  }

  .card-header{
    font-size:2vw;
    display: flex;
    flex-direction: column;
    line-height: 32px;
    body > div > main.card > h5 > span{
      font-size: 2vw;
    }
  }

  body > div > main.card > div.card-footer > div {
    font-size: 1.5vw;
  }

  .card{
    width: 60%;
  }
}

@media screen and (max-width: 768px){
  .carousel-inner{
    display: none;
  }
  img.bg-img{
    min-width: 800px;
    position: fixed;
    left: 44%;
    margin-left: -337px;
  }
  .card{
    width: 73%;
    left: 20%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .card-header{
    font-size: 2.5vw;
    display: flex;
    flex-direction: column;
    line-height: 32px;
    body > div > main.card > h5 > span{
      font-size: 2.5vw;
    }
  }

  body > div > main.card > div.card-footer > div {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 576px){
  .carousel-inner{
    display: none;
  }
  img.bg-img{
    min-width: 600px;
    position: fixed;
    left: 44%;
    // top: 17%;
    bottom: -110;
    margin-left: -619px;
    }
}



// grid area names, positioning, and styling

header {
 grid-area: header;
 h3 {
  color: white;
  font-weight: bolder;
 }
}

article{
  grid-area: article;
  color: white;
  #about-me{
    line-height: 32px;
    letter-spacing: 3px;
  }
}

main {
 grid-area: main;
}

footer {
  grid-area: footer;
  align-self: self-end;
  grid-row-start: 4;
  align-items: end;
  height: 4vh;
  padding: 0;
  margin-left: 22px;
  width: 40%;
  color: $white;
  mix-blend-mode: hard-light;
}

.font-title{
  font-size: 36px;
  text-decoration: none !important;
}

// rotating word carousel for homepage
.wordCarousel {
    font-size: 28px;
    font-weight: 100;
    color: rgb(192,192,192);
    display: flex;
    justify-content: flex-end;
    div {
        overflow: hidden;
        position: relative;
        float: right;
        height: 65px;
        padding-top: 10px;
        margin-top: -10px;

        li {
            color: #ffa500;
            font-weight: 700;
            font-size: x-large;
            padding: 0;
            height: 45px;
            margin-bottom: 45px;

        }
    }
}

.flip4 {
  list-style-type: none;
  padding-left: 7px;
  padding-top: 3px;
}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 14s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}
