//homepage and blog index background
// also includes image placement for blog index cards

.container-hompepage{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px minmax(400px, 1fr) 100px 100px;
  grid-gap: 10px;
  padding: 70px 15px 30px 55px;
  grid-template-areas:
      "header header header header"
      "main main main main"
      "main main main main"
      "footer footer footer footer";
}

  body{
    overflow-y: auto;
    overflow-x: hidden;
  }

  .font-title{
  font-size: 36px;
  text-decoration: none !important;
  z-index: 1;
  margin-left: -1em;
}

// media queries for background-images
@media screen and (max-width: 1440px){

  img.bg-img {
    min-height: 100%;
    min-width: 1440px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
  .wordCarousel div li {
    margin-bottom: 43px;
    margin-left: -1.2em;
  }
}

@media screen and (max-width: 1200px){

  img.bg-img {
    min-width: 1200px;
  }
 .profile-card p{
    font-size: 1em;
    line-height: 1.5em;
    text-align: right;
    padding: 12px;
    margin-top: -4em;
    width: 67%;
    margin-left: 35%;
  }
  .profile-card h5{
     font-size: 2.4vw;
     padding: 0px;
     font-weight: 100px;
     width: 113%;
     margin-top: -.5em;
     margin-left: -3.5em;
     font-weight: normal;
    }

    footer{
      display: none;
    }
}

@media screen and (max-width: 992px){
  img.bg-img {
    min-width: 992px;
  }
}

@media screen and (max-width: 768px){
  img.bg-img {
    min-width: 768px;
  }
  // .font-title{
  //   margin-left: -4%;
  // }
}

@media screen and (max-width: 576px){
  img.bg-img {
    min-width: 576px;
  }
  .profile-card p {
    font-size: 2.7vw;
    line-height: 25px;
    text-align: right;
    padding: 2px;
    width: 121%;
    margin-left: -2%;
    color: rgb(255,255,255);
  }
  .profile-card h5 {
    font-size: 4vw;
    padding: 0px;
    font-weight: 300px;
    width: 155%;
    margin-top: -20px;
    margin-left: -13%;
    font-weight: normal;
    }

  .wordCarousel div li {
    color: #ffa500;
    font-weight: 100;
    font-size: large;
    margin-left: -29%;
    height: 45px;
    margin-bottom: 45px;
    }
}

// rotating word carousel for homepage
.wordCarousel {
    font-size: 28px;
    font-weight: 100;
    color: rgb(192,192,192);
    display: flex;
    justify-content: flex-end;
    div {
        overflow: hidden;
        position: relative;
        float: right;
        height: 65px;
        padding-top: 10px;
        margin-top: -10px;

        li {
            color: #ffa500;
            padding: 0;
            height: 45px;
            margin-bottom: 45px;
          }
        }
    }


.flip4 {
  list-style-type: none;

}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 14s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}


// blog index page
.container-index{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px minmax(400px, 1fr) 100px 100px;
  grid-gap: 10px;
  padding: 70px 15px 30px 55px;
  grid-template-areas:
      "header header header header"
      "main main main main"
      "main main main main"
      "footer footer footer footer";
}

.img-blog-one {
  position: absolute;
  left: 100%;
  height: 130px;
  width: 116px;
  top: -1%;
  background-position: cover;
}
.img-blog-two {
  position: absolute;
  left: 100%;
  height: 132px;
  width: 116px;
  top: -1%;
  background-position: cover;
 }

 .vertical-tabs{
  z-index:0;
 }


@media screen and (max-width: 1200px){
    footer{
      justify-self: left;
      align-self: normal;
      margin-left: -40px;
      width: 50%;
    }

    .card-blog{
      font-size: 14px;
      width: 70%;
      margin-left: 10%;
    }
    .img-blog-one{
      position: absolute;
      left: 93%;
      height: 102px;
      width: 97px;
      top: 16%;
    }
    .img-blog-two{
      position: absolute;
      left: 90%;
      height: 119px;
      width: 102px;
      top: 0%;
    }
    .vertical-tabs{
      width: 69%;
    }
  }

@media screen and (max-width: 768px){
    .card-blog{
      font-size: 13px;
      flex-wrap: wrap-reverse;
    }
    .img-blog-one{
    height: 99px;
    }
    .img-blog-two{
    height: 115px;
    width: 103px;
    top: .9%;
    }
    .vertical-tabs{
      width: 92%;
    }
  }

@media screen and (max-width: 576px){
    .card-blog{
      font-size: 13px;
      width: 76%;
      margin-left: 2%;
    }
    .img-blog-one{
      height: 76px;
      border-radius: 10%;
      top: 48%;
      left: 89%;
      width: 72px;
    }
    .img-blog-two{
      height: 76px;
      border-radius: 10%;
      top: 48%;
      left: 89%;
      width: 72px;
    }
    .vertical-tabs{
      width: 102%;
    }
  }

// blog show page

.container-blog{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px minmax(400px, 1fr) 100px 100px;
  grid-gap: 10px;
  padding: 70px 15px 30px 55px;
  grid-template-areas:
      "header header header header"
      "article article article article"
      "article article article article"
      "footer footer footer footer";
}

@media screen and (max-width: 1440px){
body > div > footer > footer {
  width: 90%;
  margin-top: 0 !important;
 }
 body{
  z-index: 1;
 }
 .blog-article{
  z-index: 1;
 }
 body > div > img{
  position: absolute;
 }
 .title-byrd{
  z-index: 1;
 }
}

// project index page - uses same container-index as blogs but has different components and responsive needs

.container-project{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px minmax(400px, 1fr) 100px 100px;
  grid-gap: 10px;
  padding: 70px 15px 30px 55px;
  grid-template-areas:
      "header header header header"
      "main main main main"
      "main main main main"
      "footer footer footer footer";
}

#project-upc{
  line-height: 18px;
  color: rgba(255,255,255,.7);
  grid-row-start: 4;
  grid-column-start: 2;
  z-index: 1;
  margin: 45px 10% 60% 20%;
  h5{
    color: orange;
  }
}

@media screen and (max-width: 1440px){
  body{
    overflow-x: hidden;
    overflow-y: auto;
  }
  footer{
    width: 90%;
    margin-left: 40%;
    margin-top: 500px;
  }
}

@media screen and (max-width: 1200px){
  .carousel-inner{
    transform: translate(91px, 22px);
  }
  body > div > main.card > div.card-footer > div {
    font-size: 0.8em;
  }
  footer{
    margin-left: -20px;
    margin-top: 400px;
  }
}

@media screen and (max-width: 992px){
  .carousel-inner{
    display: none;
  }

  #project-upc{
    width: 75%;
  }

  .card-body {
    font-size: 2.2vw;
    p{
      margin-top: 10%;
    }
  }

 .card-header{
    display: flex;
    flex-direction: column;
    line-height: 32px;
 }

 body > div > main.card > div.card-footer > div {
    font-size: 1.5vw;
  }

  .card{
    width: 60%;
  }
}

@media screen and (max-width: 768px){

  .carousel-inner{
    display: none;
  }

  .card{
    width: 73%;
    left: 20%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
  }

  body > div > main.card > div.card-footer > div {
    font-size: 1.6vw;
  }
  .blog-article{
    z-index: 0;
  }
}

@media screen and (max-width: 576px){
  .carousel-inner{
    display: none;
  }

  #project-upc{
    color: rgba(255, 255, 255, 0.7);
    grid-column: 1 / 5;
    width: 96%;
    z-index: 1;
    text-align: center;
    margin-left: -5%;
    h5, h3, h4 {
      background-color: rgba(0,0,0,.7);
      border-radius: 10px;
      padding: 15px;
    }
    p{
      background-color: rgba(0,0,0,.7);
      border-radius: 10px;
      padding: 15px;
    }
  }

  .card{
   width: 114%;
   left: -13%;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 0;
    p{
      font-size: 2.8vw;
    }
  }

  .card-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 32px;
  }

  body > div > main.card > div.card-footer > div {
    font-size: 2.3vw;
  }
  footer{
    height: 0vh;
    padding: 0;
    width: 79% !important;
    transform: translate(25px, 256px);
  }
}


// about me page

.container-about{
  background: linear-gradient(to bottom, #333 50%, #1B7FF6 75%, #1B7FF6 75%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px minmax(400px, 1fr) 100px 100px;
  grid-gap: 10px;
  padding: 70px 15px 30px 55px;
  grid-template-areas:
      "header header header header"
      "article article main main"
      "article article main main"
      "footer footer footer footer";
      article {
        padding-left: 5px;
        font-size: 18px;
    }
}

  #mail-about{
    color: orange;
    font-weight: bolder;
    font-family: 'Nunito' !important ;
  }

  #mail-about:hover{
    text-decoration: none;
    color: rgba(245,165,64,.4);
  }

  #evan-image{
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: rgba(255,255,255,.7);
    transform: translate(232px, 680px);
  }

  .about-contact{
    top: 32%;
    width: 100%;
  }

  .about-contact span{
    display: block;
  }

  .text1{
    font-size: 22px;
    font-family: 'Nunito';
    letter-spacing: 4px;
    margin-bottom: 30px;
    position: relative;
    color: orange;
    animation: text 2s 1;
    padding-left: 30%;
    text-align: center;
  }

  .text2{
    font-size: 18px;
    color: orange;
    font-weight: bold;
    font-family: 'Nunito';
    letter-spacing: 4px;
  }

  @keyframes text{
    0%{
      color: transparent;
      margin-bottom: -40px;
    }
    35%{
      letter-spacing: 4px;
      margin-left: -80px;
    }
    85%{
    letter-spacing: 4px;
    margin-bottom: -40px;
  }
}

@media screen and (max-width: 1200px) {
  #evan-image{
    transform: translate(50px, 544px);
  }

  .container-about{
    grid-template-areas:
        "header header header header"
        "article article article main"
        "article article article main"
        "footer footer footer footer";
        article {
          padding-left: 5px;
          font-size: 14px;
        }
    }
    .text1{
      font-size: small;
    }
}

@media screen and (max-width: 768px) {
  #evan-image{
    transform: translate(23px, 816px);
  }
}

@media screen and (max-width: 576px) {
  #evan-image{
    display: none;
  }
  .container-about{
    grid-template-areas:
        "header header header header"
        "article article article article"
        "article article article article"
        "footer footer footer footer";
        article {
          padding-left: 2px;
          font-size: 12px;
          text-align: center;
        }
    }
   body > div > main.about-contact{
    display: none;
  }
}


// grid area names, positioning, and styling

header {
 grid-area: header;
 h3 {
  color: white;
  font-weight: bolder;
 }
}

article{
  grid-area: article;
  #about-me {
    line-height: 32px;
    letter-spacing: 3px;
    font-size: 1rem;
    color: rgba(255,255,255,.7);
  }
}

.text-left h2{
    font-size: 1.8rem;
    color: orange;
}

main {
 grid-area: main;
}

footer {
  grid-area: footer;
  align-self: self-end;
  grid-row-start: 4;
  align-items: end;
  height: 4vh;
  padding: 0;
  margin-left: 22px;
  width: 40%;
  color: $white;
  mix-blend-mode: hard-light;
}



