.photo-blog-1{
  float: right;
  margin-left: 50%;
  box-shadow: 0 10px 10px -5px;
  border-radius: 25%;
  border-left: solid 3px white;
  height: 180px;
  width: 180px;
}

.photo-blog-2{
  float: top;
  margin: 0 0 5% 0;
  box-shadow: 0 10px 10px -5px;
  border-radius: 25%;
  border-bottom: solid 3px white;
  height: 180px;
  width: 180px;
 }

.photo-blog-3{
  float: left;
  margin-right: 50%;
  margin-top: 5%;
  box-shadow: 0 10px 10px -5px;
  border-radius: 25%;
  border-right: solid 3px white;
  height: 180px;
  width: 180px;
}

.photo-blog-4{
  float: bottom;
  margin-left: 81%;
  margin-top: -20%;
  box-shadow: 0 10px 10px -5px;
  border-radius: 25%;
  border-top: solid 3px white;
  height: 180px;
  width: 180px;
}

.blog-show-desc{
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  padding-top: 60px;
  color: rgba(255,255,255,.7);
}


.blog-article{
  margin-left: 18%;
  margin-top: 4%;
  width: 67%;
}

.blog-non-title{
 display: grid;
 grid-row: 2 / 3;
 grid-column: 1 / 6;
 letter-spacing: 3px;
 color: rgba(255,255,255,.7);
 z-index: 0;
 margin: 0 auto;
 text-align: center;
}


.blog-non-desc{
 display: grid;
 grid-row: 2 / 3;
 grid-column: 1 / 6;
 text-align: justify;
 letter-spacing: 3px;
 line-height: 30px;
 color: rgba(255,255,255,.7);
 z-index: 0;
 margin-left: 19%;
 margin-top: 10%;
 width: 64%;
}

@media screen and (max-width: 768px){
  .blog-non-desc{
    text-align: left;
    margin-left: 21%;
    margin-top: 15%;
    width: 62%;
  }
}

@media screen and (max-width: 576px){
  .blog-show-desc{
   width: 141%;
   text-align: right;
   font-size: 1.3em;
   padding-top: 60px;
   padding-left: 16px;
  }
  .photo-blog-2{
    margin: -14% 0 5% -35%;
  }
  .photo-blog-3{
    margin-left: 17%;
    }
  .blog-non-title{
    margin: -16px 0px 0px -1px;
    font-size: larger;
    width: 95%;
    border-top: solid .5px rgba(255,255,255,.9);
    padding-top: 16px;
  }
  .blog-non-desc{
    text-align: right;
    margin-left: 15%;
    width: 84%;
    font-size: small;
    line-height: 25px;
    padding-top: 5em;
  }
}






