<header class="header">
  <div class="header-content">
    <nav class="nav-class">
      <ul>
        <!-- using a classless li since top-nav a tag will have same styling -->
        <li>
          <a class="top-nav" href="#blogs">Thoughts</a>
        </li>
        <li">
          <a class="top-nav" href="#works">Hustle</a>
        </li>
        <li class="nav-icon">
          <a href="www.github.com/elbyrd09" target="blank"></a>
        </li>
        <li class="nav-icon">
          <a href="www.linkedin.com/in/evanbyrd" target="blank"></a>
        </li>
        <li class="nav-icon">
          <a href="www.mypartyreel.com" target="blank"></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
