<div class="container" style="background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(<%= image_path 'byrd.jpg' %>)">
<%= render '/shared/header' %>

    <main class="profile-card">
      <p>Motivated by a high density of creative energy and the fulfillment <br> gained from  working with individuals to reach professional milestones <br><br></p>
      <h5 class="wordCarousel"><strong>Developer, product manager, and</strong>
      <div>
           <ul class="flip4">
            <li>avid jetsetter</li>
            <li>writer</li>
            <li>wine geek</li>
            <li>photographer</li>
          </ul>
        </h5>
      </div>
    </main>
    <%= render '/shared/footer' %>
</div>

