<div class="container-hompepage">
  <img src="<%= image_path('theone.png') %> " alt="myFace" class="bg-img">
    <%= render '/shared/header' %>
      <main class="profile-card">
        <p>Motivated by a high density of creative energy and the fulfillment gained <br> from  working with individuals to reach professional milestones <br><br></p>
        <h5 class="wordCarousel">
           <span><strong>Developer, product manager, and</strong></span>
             <div>
               <ul class="flip4">
                <li>avid jetsetter</li>
                <li>writer</li>
                <li>wine geek</li>
                <li>photographer</li>
               </ul>
             </div>
         </h5>
      </main>
    <%= link_to "Learn about me", about_path, class: "btn-about" %>
<%= render '/shared/footer' %>
</div>

