<div class="container">
<%= render '/shared/header' %>
    <!-- <main id="top-blog">

    </main> -->
    <main class="profile-card">
       <%= image_tag "ELB.png", class: "card-profile", alt: "Byrd" %>
    </main>
    <main class="profile-card">
      <p>Motivated by a high density of creative energy and the fulfillment <br> gained from  working with individuals to reach professional milestones <br><br></p>
      <h5 class="wordCarousel"><strong>Developer, product manager, and</strong>
      <div>
           <ul class="flip4">
            <li>avid jetsetter</li>
            <li>writer</li>
            <li>wine geek</li>
            <li>photographer</li>
          </ul>
        </h5>
      </div>
    </main>
</div>

