.btn-light {
  border-radius: 20px;
  width: 100%;
  height: 40px;
  background-color: #EB9F3E;
  color: #000;

}

.btn-light:active {
  background-color: #1B7FF6;
  color: #fff;
  border-width: 3px;

}
