.btn-light {
  border-radius: 20px;
  width: 100%;
  height: 40px;
  background-color: #EB9F3E;
  color: #000;
}

.btn-light:active {
  background-color: #1B7FF6;
  color: #fff;
  border-width: 3px;

}


.btn-about {
  display: block;
  position: fixed;
  top: 60%;
  left: -1;
  font-family: "Nunito", "Helvetica", "sans-serif";
  text-align: center;
  border-radius: 10px 10px;
  padding: 14px;
  width: 150px;
  background: transparent;
  color: #C0C0C0;
  border-style: solid;
  border-color: rgba(230, 127, 56, 0.1);
  opacity: 0;
  animation-name: btn;
  animation-duration: 6s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  transition-property: transform;
  transition-duration: 3s;
  }


.btn-about:hover {
  transform: scale(.9,.9);
  text-decoration: none;
  color: #C0C0C0;
  // width: 10%;

}

@keyframes btn{
  0%{ opacity: 0}
  50% {opacity: .5}
  100% { opacity: 1}
}
