.btn-light {
  border-radius: 20px;
  width: 100%;
  height: 40px;
  background-color: #EB9F3E;
  color: #000;
}

.btn-light:active {
  background-color: #1B7FF6;
  color: #fff;
  border-width: 3px;
}

.btn-primary{
 position: relative;
 right: -40%;
 border-radius: 20px;
 padding: 15px;
}


.btn-about {
  display: block;
  position: fixed;
  top: 88.4%;
  left: 68%;
  padding: 14px;
  text-align: center;
  width: 150px;
  //style
  font-family: "Nunito", "Helvetica", "sans-serif";
  border-radius: 10px 10px;
  background: transparent;
  color: $white;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-color: rgba(230, 127, 56, 0.1);
  opacity: 0;
  //animation
  animation-name: btn;
  animation-duration: 6s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  transition-property: transform;
  transition-duration: 3s;
  }


.btn-about:hover {
  transform: scale(.9,.9);
  text-decoration: none;
  color: #C0C0C0;
}

@keyframes btn{
  0%{ opacity: 0}
  50% {opacity: .5}
  100% { opacity: 1}
}
