.card-deck {
  display: flex;
  flex-row: row;
  align-items: flex-end;
  height: 2rem;
  position: relative;
  margin: 0 auto;
  font-size: 8px;
  width: 45%;
  p {
    font-size: 13px !important;
    padding: 2px;
  }
}

.card-deck a{
  text-decoration: none !important;
  color: rgb(255,140,0) !important;
  background-color: #0D0421 !important;
}

.card-deck .card {
  display: flex;
  align-items: center;
  justify-content: center;
  // border-radius: 10px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: rgba(255,140,0, .5);
  background-color: #F4F4F4;
  padding-top: 10px;
}

.card-deck .card:hover{
  cursor: pointer;
  color: $blue;
  transition: 2s;
  border-radius: 20px;
  background-color: #073263;

}

  .profile-card {
  display: grid;
  align-content: end;
  p {
   display: grid;
   justify-content: end;
   text-align: right;
   font-weight: 3px;
   font-family: Montserrat;
   letter-spacing: 3px;
   line-height: 33px;
    }
  }

  .card-profile {
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(255,140,0);
  }

  .card-body {
    margin: 0 auto;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-gap: 30px;
    color: white;
  }
  .card-body2 {
    margin: 0 auto;
    padding: 20px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-gap: 30px;
    color: white;
  }
  .card-body3 {
    margin: 0 auto;
    padding: 20px;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-gap: 30px;
    color: white;
  }

  .card-body li {
    background-color: rgba(0,0,0, .4);
    padding: 50px;
    border-radius: 25%;
    margin-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    color: white;

  }

.card-body2 li {
    background-color: rgba(0,0,0, .4);
    padding: 50px;
    border-radius: 25%;
    margin-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
        color: white;


  }
.card-body3 li {
    background-color: rgba(0,0,0, .4);
    padding: 50px;
    border-radius: 25%;
    margin-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    color: white;

  }

