
.card{
  background-color: rgba(0,0,0, .2);
  z-index: 1;
  width: 50%;
  display: inline-flex;
  text-align: end;
  left: 40%;
  border-radius: 8px;

}

//cards for blog index page
.card-blog{
  //positioning & style
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  background-color: transparent;
  background-clip: border-box;
  background-image: linear-gradient(to top, rgba(0,0,0,.6), transparent);
  //border
  border-bottom: .5px solid rgba(0, 0, 0, 0.4);
  border-radius: 14px 0px 0px 14px;
  box-shadow: 0px 2px #888888;
  //spacing
  word-wrap: break-word;
  padding: 40px 0px 40px 10px;
  margin: 27px 71px;
  width: 30em;
  //font
  font-size: large;
  color: rgba(255,255,230,.8);
}

.card-blog:hover{
  text-decoration: none;
  color: rgba(255,255,230,.8);
  background-image: linear-gradient(to top, rgba(0,0,0,.9), transparent);
  box-shadow: 0px 2px rgba(230,127,56,.8);

}

// class containing thought edifice and current projects
.card-deck {
  margin-bottom: auto;
  width: 45%;
  margin-right: 16%;
  p {
    font-size: 1.2vw !important;
    padding-top: 2px;
    color: #C0C0C0;
  }
}

.card-deck a{
  text-decoration: none !important;
  color: rgb(192,192,192) !important;
  background-color: transparent !important;
}

@media screen and (max-width: 768px){
  .card-deck{
    margin-left: 10%;
    margin-right: 13%;
    margin: 3px -165px 2px -170px;
  }
}
// thought edifice and current projects hover

.card-deck .card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: thin;
  border-left: none;
  border-right: none;
  border-top: none;
  border-color: rgba(192,192,192,.7);
  background-color: transparent;
  padding-top: 10px;
  transition: 1s ease-in;
}

.card-deck .card:hover{
  cursor: pointer;
  color: white;
  font-size: x-large !important;
  transition: .5s;
  border-radius: 20px;
  border-bottom-width: thick;
  background-color: transparent;
}


// profile-card is used to display the text for the homepage
  .profile-card {
  padding: 30px 60px 0 0;
   mix-blend-mode: hard-light;
  p {
   text-align: right;
   font-size: 20px;
   font-weight: 3px;
   font-family: "Nunito", "Helvetica", "sans-serif";
   letter-spacing: 3px;
   line-height: 33px;
   color: #C0C0C0;
   mix-blend-mode: hard-light;
    }
  }

  .card-profile {
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(255,140,0);
  }

//card bootstrap addition, no overrides
  .card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: orange;
    font-size: 1.8em;
  }
   #container-works > main.card > h5 > span{
      font-size: .5em;
      text-align: center;
      color: rgba(255,255,255,.7);
      width: 80%;
      margin-top: .7em;
    }

  .card-body {
    font-size: 1.2vw;
    line-height: 30px;
    p{
      text-align:center;
      color: rgba(255,255,255, .8);
    }
  }

    .icons-card-footer a {
      display: block;
      line-height: 35px;
      color: orange !important;
      letter-spacing: 3px;
  }

    .icons-card-footer a:hover {
      color: rgba(255,255,255,.8) !important;
    }
