.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding: 0px 20px;
  color: rgb(255,140,0);
  background-color: #0d0221;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}


