.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding: 0px 50px;
  color: orange;
  background-color: #0d0221;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}


