// $title:  rgba(45,45,45,1);
$outline: rgba(#fff, .4);

.header {
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  color: blue;
  padding: 40px 45px 0px 22px;
    h3 {
    letter-spacing: 5px;
  }
}

.header-content {
  margin: 0 auto;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.title-byrd{
  position:absolute;
  top: 50%;
}

h1 {
 font-family: 'Nunito', sans-serif;
 font-size: 38px;
 text-align: center;
 line-height: 1;
 margin: 0;
 transform: translate(35%, -110%);
 color: #C0C0C0;
 letter-spacing: .2rem;
&:before {
    content: attr(data-heading);
    overflow: hidden;
    color: $yellow;
    width: 100%;
    z-index: 5;
    text-shadow: none;
    text-align: left;
    position: absolute;
    left: 23%;
    animation: flicker 7s linear infinite;
  }
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
    text-shadow: -1px -1px 0 rgba(#fff, .4), 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}



// nav icons and burger menu

.class-nav {
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin: 0;
  list-style: none;
  letter-spacing: 35px;
  font-size: x-large;
  padding: 15px 0px 0px 0px;

  #hide-nav {
    display: none;
  }
}

.class-nav ul li {
  list-style-type: none;
  font-size: 22px;
  letter-spacing: 5px;
}

.class-nav li a:hover{
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  color: $orange !important;
  text-decoration: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  align-items: center;
  width: 25px;
  height: 3px;
  margin: 0px 5px 5px 5px;
  background-color: #1B7FF6;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
   .class-nav {
    width: 90%;
    letter-spacing: 20px;
    justify-content: end;
 }
}


@media screen and (max-width: 800px){
   body {
    overflow-x: hidden;
   }
   .class-nav {
    position: absolute;
    right: -18px;
    height: 153vh;
    top: 10vh;
    background-image: linear-gradient(to bottom, #9FA0A1, transparent, transparent, #9FA0A1);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    transform: translateX(100%);
    transition: transform .6 ease-in;
    }

    .class-nav li {
      opacity: 0;
    }
    .burger {
     display: block;
     position: absolute;
    }
     .card-deck p{
      display: none;
    }
    .card-deck .card {
      display: none;
    }
     .card-deck .card a{
      display: none;
    }
    .card-deck {
      display: none !important;
    }
    .container{
      background: fixed;
    }

}

@media screen and (max-width: 560px){
    body {
     overflow-x: hidden;
    }
    .class-nav {
     position: absolute;
     right: -18px;
     height: 153vh;
     top: 10vh;
     background-image: linear-gradient(to bottom, #9FA0A1, transparent, transparent, #9FA0A1);
     font-weight: bold;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 25%;
     transform: translateX(100%);
     transition: transform ,6 ease-in;
     }

     .class-nav li {
       opacity: 0;
     }

     .burger {
      display: block;
      position: absolute;

    }
    .card-deck p {
      display: none;
    }
    .card-deck .card {
      display: none;
    }
    .container{
      background-size: fixed !important;
      height: 165vh;
    }
}

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
     to{
      opacity: 1;
      transform: translateX(0px);
  }
}

// burger close button animation
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.tab-display {
  list-style: none;
  text-align: center;
  margin: 15px;
  line-height: 8;
}

.vertical-tabs {
  justify-self: start;
  width: 50vw;
  mix-blend-mode: hard-light;
}

.tab-desc {
  padding: 20px 0px 10px 15px;
  // letter-spacing: 3px;
  font-family: 'Nunito' 'sans-serif';
  color: rgba(255,255,255,.9);
  background-image: linear-gradient(to bottom, black, transparent);
}
