// $title:  rgba(45,45,45,1);
$outline: rgba(#fff, .4);

.header {
  background-color: transparent;
    h3 {
    letter-spacing: 5px;
  }
}


.header-content {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}


h1 {
 font-family: 'Nunito', sans-serif;
 font-size: 38px;
 text-align: center;
 line-height: 1;
 margin: 0;
 transform: translate(35%, -110%);
 color: #C0C0C0;
 letter-spacing: .2rem;
&:before {
    content: attr(data-heading);
    overflow: hidden;
    color: $yellow;
    width: 100%;
    z-index: 5;
    text-shadow: none;
    text-align: left;
    position: absolute;
    left: 24%;
    animation: flicker 7s linear infinite;
  }
}

@media screen and(max-width: 768px){
  h1:before{
    left: 25%;
  }
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
    text-shadow: -1px -1px 0 rgba(#fff, .4), 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}



// nav icons before entering burger menu

.nav-class {
  z-index: 1;
}
.class-nav {
  display: flex;
  margin: 0;
  list-style: none;
  font-size: 1.6rem;
  padding: 15px 0px 0px 0px;
  letter-spacing: 20px;
  margin-top: -25%;
}

.class-nav li a:hover{
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  color: $orange !important;
  text-decoration: none;
}

.nav-tabs{
  border-bottom: none !important;
}

// 2nd grouping of the thought edifice and current projects
// is hidden to then be used in the burger menu
#hide-nav {
  display: none;
}


// burger hidden until 768px
.burger {
  display: none;
}

.burger div {
  align-items: center;
  width: 25px;
  height: 3px;
  margin: 0px 5px 5px 5px;
  background-color: #1B7FF6;
  transition: all 0.3s ease;
}


@media screen and (max-width: 768px){
  .title-byrd{
      width: 12em;
      margin-top: -5%;
      margin-left: -1%;
  }
   .class-nav {
      display: none;
      width: 110%;
      background-image: linear-gradient(to bottom, #0B111D, #0B111D, #0B111D, transparent);
      height: 100vh;
      padding: 0;
      transform: translateX(100%);
      transition: transform .6 ease-in;
    }
    .class-nav #hide-nav{
      display: block;
      font-size: 3vw;
      white-space: nowrap;
      margin: 40% -11% 0 17%;
    }

    .nav-active {
      transform: translateX(0%);
      display: flex;
      align-items: center;
      width: 160%;
      margin-left: -37%;
      height: 269vh;
      padding-top: -17%;
      margin-top: -43%;
      line-height: 22px;
    }


    body > div > header > div > nav > ul > li:nth-child(1),
    body > div > header > div > nav > ul > li:nth-child(2){
      padding: 16px 0px 36px 0px;
      letter-spacing: 2px;
      border-bottom: solid 0.5px rgba(255, 255, 255, .9);
    }
    body > div > header > div > nav > ul > li:nth-child(1):hover,
    body > div > header > div > nav > ul > li:nth-child(2):hover{
      border-bottom: solid 2.5px rgba(255, 255, 255, .9);
    }


    body > div > header > div > nav > ul > li:nth-child(3),
    body > div > header > div > nav > ul > li:nth-child(4),
    body > div > header > div > nav > ul > li:nth-child(5),
    body > div > header > div > nav > ul > li:nth-child(6){
      margin-inline-start: auto;
      width: 100%;
      letter-spacing: 0;
      font-weight: normal;
      position: relative;
      right: 33%;
      top: 14%;
    }


    .class-nav li {
       opacity: 0;
    }

    .burger {
      display: block;
      position: absolute;
      top: 10vw;
      right: 11vw;
    }
     .card-deck p{
      display: none;
    }
    .card-deck .card {
       display: none;
    }
     .card-deck .card a{
       display: none;
    }
    .card-deck {
      display: none !important;
    }
}

@media screen and (max-width: 576px){
  .title-byrd{
   width: 12em;
   margin-top: -5%;
   margin-left: -18%;
  }
  .burger{
    top: 23vw;
    right: 7vw;
  }
  .class-nav #hide-nav{
    font-size: 2.5vw;
  }
  .nav-tabs{
    width: 105%;
  }
}


  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
     to{
      opacity: 1;
      transform: translateX(0px);
  }
}

// burger close button animation
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav{
  justify-content: center;
}

// tab pane positioning
.vertical-tabs {
  justify-self: center;
  width: 60%;
  z-index: 1;
}
#personal-tab, #code-tab, #artists-tab{
  color: $orange !important;
}
//description of blog tab pane on index
.tab-desc {
  padding: 20px 0px 10px 15px;
  text-align: center;
  font-family: 'Nunito' 'sans-serif';
  color: rgba(255,255,255,.9);
  background-image: linear-gradient(to bottom, black, transparent);
}
